<md-toolbar class="toolbarMain z-index2">
    <span flex class="div_search relative">
        <!--Icon when the search by is person-->
        <!--md-icon class="colorWhite searchIcon" ng-if="listMovies.searchBy == 'person'" md-svg-icon="{{('social' | icon:'person')}}"></md-icon-->
        <!--Icon when the search by is movie-->
        <!--md-icon class="colorWhite searchIcon" ng-if="listMovies.searchBy == 'movie'" md-svg-icon="{{('av' | icon:'movie')}}"></md-icon-->
        <!--Input search-->
        <input type="text" class="search" id="search">
    </span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span></span>
</md-toolbar>